{% extends 'example_start.html' %}
{% load static %}

   {% block main_information %}



          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product">
              <div class="card-product__img">


              {% for e in page %}
              {{ e }}
              {% endfor %}


              {% for imag_top1 in top_model_image1 %}
              <img class="img-fluid" src="{{ imag_top1.small_image.url }}" alt="">
              {% endfor %}

                <ul class="card-product__imgOverlay">
                  <li><button><i class="ti-search"></i></button></li>
                  <li><button><i class="ti-shopping-cart"></i></button></li>
                  <li><button><i class="ti-heart"></i></button></li>
                </ul>
              </div>
            </div>
          </div>

{% endblock %}
