{% extends 'index.html' %}

{% load static %}


{% block title %} <title>Registration - Espinosa</title>{% endblock %}

{% block styles %}

  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
    <!--   иконки из бутстрапа         -->
  <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
    <!--   основные css         -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}


{% block main_picture %}

<div class="col-5 d-none d-sm-block">
    <div class="hero-banner__img">
        <img class="img-fluid" src="{% static '/img/home/log_in.jpg' %}" alt="">
    </div>

</div>
<div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
    <div class="hero-banner__content">
        <h4>Espinosa Rozov</h4>
        <h1>Войдите в Ваш личный кабинет</h1>
        <p>После входа в личный кабинет Вам будут доступны новые возможности.</p>
        <p>Зарегистрированным пользователям предоставляется постоянная скидка в 5%</p>
        <a class="button button-hero" href="{% url 'products' %}">Смотреть Каталог</a>
    </div>
</div>

{% endblock %}



{% block content %}

    <!--================ ЧАСТЬ ДЛЯ РЕГИСТРАЦИИ =================-->

<div class = "log_in_block">
  <h2>Регистрация на сайте</h2>
  <br>

    <p>Пожалуйста, заполните форму:</p>
    <br>
      <form action="." method="post">
          {{ user_form.as_p }}
          {% csrf_token %}
          <p><input type="submit" class="button button-header" value="Создать аккаунт"></p>
      </form>


  <a class="button button-header" href="{% url 'index' %}">Вернуться на главную страницу</a>

  <br>
  <br>

</div>

{% endblock %}