{% extends 'index.html' %}

{% load static %}


{% block title %} <title>Login - Espinosa</title>{% endblock %}

{% block styles %}

  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
    <!--   иконки из бутстрапа         -->
  <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
    <!--   основные css         -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}



{% block content %}

    <!--================ ЧАСТЬ ДЛЯ РЕГИСТРАЦИИ =================-->

<div class = "log_in_block">
<h2>Вход в аккаунт</h2>
<form method="post">

{% csrf_token %}
{{ form.as_p }}

<button type="submit">Войти</button>
<br>
<br>

<a class="button button-header" href="{% url 'registr' %}">Зарегистрироваться</a>


<br>
  <br>

<a class="button button-header" href="{% url 'index' %}">Вернуться на главную страницу</a>

</form>
</div>

{% endblock %}
