{% extends 'index.html' %}

{% load static %}


{% block title %} <title>Registration - Espinosa</title>{% endblock %}

{% block styles %}

  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
    <!--   иконки из бутстрапа         -->
  <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
    <!--   основные css         -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}

{% block content %}

    <!--================ ЧАСТЬ ДЛЯ РЕГИСТРАЦИИ =================-->

<div class = "log_in_block">
  <h2>Регистрация на сайте</h2>
  <br>

    <p>Пожалуйста, заполните форму:</p>
    <br>
      <form action="." method="post">
          {{ user_form.as_p }}
          {% csrf_token %}
          <p><input type="submit" class="button button-header" value="Создать аккаунт"></p>
      </form>


  <a class="button button-header" href="{% url 'index' %}">Вернуться на главную страницу</a>

  <br>
  <br>

</div>

{% endblock %}