{% extends 'index.html' %}

{% load static %}


{% block title %} <title>Registration done - Espinosa</title>{% endblock %}

{% block styles %}

  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
    <!--   иконки из бутстрапа         -->
  <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
    <!--   основные css         -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}


{% block content %}
    <!--================ ЧАСТЬ ДЛЯ РЕГИСТРАЦИИ =================-->


<div class = "log_in_block">
  <br>
  <br>
  <br>

   <h3>Добро пожаловать! {{ new_user.first_name }}!</h3>

      <p>Ваш аккаунт был успешн создан. Спасибо, за регистрацию. Espinosa Rozov Alex.</p>

  <a class="button button-header" href="{% url 'index' %}">Вернуться на главную страницу</a>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>

{% endblock %}